<!DOCTYPE html>
<html>
  <head>
 

  </head>

  <body>
 
 <%= render 'layouts/ban'%>


<!-- Page Content -->


<%= render 'layouts/cardevent'%>






<!-- Bootstrap core JavaScript -->

</body>
</html>