// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg_img {
  color: white;
  background-image: url("party.jpg");
  background-size: cover;
  height: 300px;
}

